<template>
  <q-layout class="q-pa-md">
    <account-info-card></account-info-card>
    <div style="display: flex; width: 100%">
      <loan-apply @appliedLoan="loanGranted = true" style="width: 60%">
      </loan-apply>

      <loan-panel :loanGranted="loanGranted" style="width: 40%"></loan-panel>
    </div>
  </q-layout>
</template>

<script>
import { defineComponent, computed, ref } from "vue";
import { useStore } from "src/store";
import AccountInfoCard from "components/AccountInfoCard.vue";
import LoanApply from "components/LoanApply.vue";
import LoanPanel from "components/LoanPanel.vue";
import OffersPanel from "components/OffersPanel.vue";

export default defineComponent({
  components: {
    AccountInfoCard,
    LoanPanel,
    LoanApply,
    OffersPanel,
  },
  setup() {
    const $store = useStore();

    const loanGranted = ref(false);

    const isLoggedIn = computed(() => {
      return $store.getters.isAuthenticated;
    });

    const repaymentList = computed({
      get: () => {
        return $store.state.loanModule.repaymentList;
      },
      set: (newValue) => {
        $store.dispatch("loanModule/setRepaymentList", newValue);
      },
    });

    return {
      isLoggedIn,
      repaymentList,
      loanGranted,
    };
  },
});
</script>

<style lang="scss">
.account__info-card {
  border: 1px solid #fcfcfc;
  box-shadow: 0px 2px 12px #00000014;
  margin-top: 16px;
  display: flex;
  padding: 16px;

  .account__avtar {
    background-color: #0000001f;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.personal__details {
  display: flex;
  width: 40%;
}

.account__detail-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .detail-card {
    border: 1px solid #0000001f;
    border-radius: 16px;
    padding: 16px;
    width: 162px;
    height: 122px;

    .card-row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.icon {
  background-color: #ddffec;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
}
</style>
