<template>
  <div class="loan__panel">
    <!-- Recent Transactions -->

    <div style="max-width: 366px; margin: auto">
      <div class="accordian-header">
        <div>
          <img class="accordian-icon" src="../assets/recent_transc.svg" alt="" />
        </div>
        <div class="label">Recent Transactions</div>
        <div class="expand-icon">
          <img src="../assets/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <!-- Transactions list -->
    <q-scroll-area v-if="recentTransactionList.length > 0" style="height: 280px" visible>
      <div class="recent__transaction--content">
        <div class="transaction__row" v-for="(trasaction, index) in recentTransactionList" :key="index">
          <div class="icon">
            <img src="../assets/file-storage.svg" alt="" />
          </div>
          <div class="info">
            <div class="name">Hamleys - {{ index + 1 }}</div>
            <div class="date">20 May 2020</div>
            <div class="refund__detail">
              <div class="icon">
                <img src="../assets/business-and-finance.svg" alt="" />
              </div>
              Paid EMI
            </div>
          </div>
          <div class="amount">
            <span>+ S$ {{ trasaction.amount }}</span
            >&nbsp;
            <img src="../assets/next.svg" alt="" />
          </div>
        </div>
        <!--  -->
      </div>
    </q-scroll-area>

    <!-- Initial state when no recent transactions -->
    <div v-if="!loanGranted || recentTransactionList.length == 0" class="no__transaction">
      <div class="msg">No Recent Transactions</div>
      <div>
        <img height="400" width="400" src="../assets/no-transaction.webp" alt="" />
        <!-- src="../assets/dashboard-banner.webp" -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
export default {
  props: {
    loanGranted: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      repayList: [],
      updatedList: [],
    };
  },
  Updated() {
    this.repaymentList;
  },

  computed: {
    recentTransactionList: {
      get: function () {
        return this.$store.state.loanModule.recentTransactionList;
      },
      set: function (newValue) {
        this.$store.commit('loanModule/setRecentTransactionList', newValue);
      },
    },
  },
};
</script>

<style lang="scss">
.loan__panel {
  width: 60%;
  border: 1px solid #fcfcfc;
  box-shadow: 0px 2px 12px #00000014;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 28px;
  // min-width: 414px;
  overflow: hidden;
}

.no__transaction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .msg {
    font-size: 14px;
    opacity: 0.8;
    padding: 28px 0;
  }
}

.loan__repayments {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .repayment__card {
    width: 80%;
    border: 1px solid #0000001f;
    padding: 16px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.accordian-icon {
  height: 54px;
  width: 24px;
}

.accordian-header {
  padding: 12px;
  background-color: #f5f9ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 8px #0000000a;
  border-radius: 6px;
  width: 366px;
  height: 72px;
  color: #0c365a;
  margin-bottom: 16px;

  .expanded-icon {
    transform: rotate(180deg);
  }

  .--expanded {
    border: 1px solid #fcfcfc;
    height: 520px;
  }
}
.recent__transaction--content {
  padding: 8px 16px;
  outline: 1px solid #f0f0f0;
}
.transaction__row {
  width: 318px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0px;
  .icon {
    height: 48px;
    width: 48px;
    background-color: #009dff1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    width: 60%;
    .name {
      font-size: 14px;
      font-weight: 600;
    }
    .date {
      font-size: 13px;
      color: #aaaaaa;
      margin-top: 4px;
    }
    .refund__detail {
      margin-top: 8px;
      font-size: 12px;
      color: #325baf;
    }
  }

  .refund__detail {
    display: flex;
    .icon {
      height: 20px;
      width: 24px;
      background-color: #325baf;
      margin-right: 8px;
    }
  }
  .amount {
    color: #01d167;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .loan__panel {
    padding: 8px 0px;
  }
}
</style>
