<template>
  <div class="loan__repayments" v-if="repaymentList.length !== 0">
    <div class="text-h5 q-pb-lg text-center text-grey-9">Pending EMI's</div>

    <div v-for="(term, i) in repaymentList" :key="i" class="repayment__card q-mb-md">
      <div class="col">
        <div>
          <q-badge v-show="term.paid" color="green-3"> Repaid </q-badge>
        </div>
        <div>
          <q-badge v-show="!term.paid" color="red-3"> Unpaid </q-badge>
        </div>
        <div>Amount:- {{ term.amount.toFixed(2) }}</div>
        <div class="text-grey-8">Due date:- {{ term.date }}</div>
      </div>

      <div class="col-3">
        <q-btn v-if="!repaymentList[i].paid" @click="repayEmi(i)" outline rounded color="primary" label="Repay" />

        <img v-show="repaymentList[i].paid" class="bg-green-3" style="border-radius: 50%" src="../assets/done_white_48dp.svg" alt="" />
      </div>
    </div>

    <!-- Show this in modal -->
    <q-dialog v-model="emiPaymentModal" persistent>
      <q-card style="width: 300px">
        <q-card-section class="row items-center">
          <!-- <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >You are currently not connected to any network.</span
          > -->
          <div class="success__form text-center">
            <div>
              <img class="bg-green-3" style="border-radius: 50%" src="../assets/done_white_48dp.svg" alt="" />
            </div>
            <div class="text-h6 text-center text-grey-7">Emi Paid Succesfully !!!</div>
            <!-- <div class="text-h6 text-center text-grey-7">Loan Success</div> -->
          </div>
        </q-card-section>

        <q-card-actions align="center">
          <q-btn v-close-popup flat style="background: #325baf; color: white; font-size: 13px" class="new__card-btn" label="Proceed"></q-btn>

          <!-- <q-btn flat label="Cancel" color="primary"  /> -->
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      emiPaymentModal: false,
    };
  },
  computed: {
    repaymentList: {
      get: function () {
        return this.$store.state.loanModule.repaymentList;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setRepaymentList', newValue);
      },
    },
    recentTransactionList: {
      get: function () {
        return this.$store.state.loanModule.recentTransactionList;
      },
      set: function (newValue) {
        this.$store.commit('loanModule/setRecentTransactionList', newValue);
      },
    },
    loanRemain: {
      get: function () {
        return this.$store.state.loanModule.loanRemain;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanRemain', newValue);
      },
    },
    loanPending: {
      get: function () {
        return this.$store.state.loanModule.loanPending;
      },
      set: function (newValue) {
        this.$store.commit('loanModule/setLoanPending', newValue);
      },
    },
    loanAmount: {
      get: function () {
        return this.$store.state.loanModule.loanAmount;
      },
    },
    loanPaid: {
      get: function () {
        return this.$store.state.loanModule.loanPaid;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanPaid', newValue);
      },
    },
  },
  methods: {
    repayEmi(i) {
      this.emiPaymentModal = true;

      this.loanRemain = (this.loanRemain - this.repaymentList[i].amount).toFixed(2);
      this.loanPaid = (this.loanAmount - this.loanRemain).toFixed(2);

      //move transaction to recent list if completed
      this.recentTransactionList = this.repaymentList[i];

      //Remove completed emi from pending list
      this.$store.commit('loanModule/updateRepaymentList', i);

      //quick fix can be handled in more better way
      if (+this.loanRemain < 1) {
        this.loanRemain = 0;
        this.loanPaid = this.loanAmount;
      }
      //Last emi Left case
      if (this.repaymentList.length == 1) {
        this.loanPending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.loan__repayments {
  .heading {
    color: #0c365a;
    margin-bottom: 20px;
    font-size: 28px;
    // line-height: 46px;
  }
}
</style>
