<template>
  <div class="apply__panel">
    <div v-if="!applyLoan && !checkout" class="apply__loan-card">
      <div class="text-h5 q-pb-lg text-center text-grey-9">Take your first loan with Aspire!</div>
      <div class="q-pb-lg text-center">Fast,easy and convenient.Check it out...</div>

      <!--After Loan repaid banner  -->
      <!-- <div style="width: 100%" > -->
      <img v-if="!loanPending && repaymentList.length == 0" src="../assets/secure-loan.webp" alt="" style="width: 60%" />
      <!-- </div> -->
      <div class="apply__btn">
        <q-btn color="secondary" icon-right="arrow_forward" label="Apply now" @click="applyLoan = true" />
      </div>
    </div>
    <!-- Loan Form -->
    <div v-if="applyLoan && !checkout" class="loan__form q-pa-md" style="width: 100%">
      <div class="text-h6 q-mb-md text-grey-8">Enter your Loan details</div>
      <q-input class="q-mb-lg" outlined v-model.number="loanAmount" label="Amount required" type="number" error-message="Loan amount should be greater than 0" :error="showValidationError" />
      <q-input class="q-mb-lg" outlined v-model="loanTerms" label="Loan terms" type="number" />
      <q-input class="q-mb-lg" outlined disable v-model="loanFrequency" label="Loan Frequency" type="text" readonly />

      <div class="login-btn">
        <q-btn color="secondary" label="Check out" @click="applyForLoan" style="width: 172px; border-radius: 8px" />
      </div>
    </div>
    <!-- Loader -->
    <div class="text-center loader-wrap">
      <q-spinner-oval v-show="isLoading" color="primary" size="2em" class="loader" />
    </div>
    <!-- Loan Checkout modal -->
    <q-dialog v-model="showLoanCheckoutModal" persistent>
      <q-card style="width: 300px">
        <q-card-section class="row items-center">
          <!-- <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >You are currently not connected to any network.</span
          > -->
          <div v-if="checkout" class="success__form text-center">
            <div>
              <img class="bg-green-3" style="border-radius: 50%" src="../assets/done_white_48dp.svg" alt="" />
            </div>
            <div class="text-h6 text-center text-grey-7">Great !!!</div>
            <div class="text-h6 text-center text-grey-7">Loan Success</div>
            <q-separator class="q-mt-lg" style="width: 100%" />
            <div class="text-grey-8 text-bold q-pa-xs">Loan Summary</div>
            <div class="loan__summary q-mt-md text-grey-7">
              <div class="label">
                <div>Purpose Loan</div>
                <div>Monthly</div>
                <div>Installment</div>
                <div>Due date</div>
              </div>
              <div class="response">
                <div>Car Loan</div>
                <div>12 Month</div>
                <div>S$ 10/month</div>
                <div>May 10,2021</div>
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="center">
          <q-btn v-close-popup flat style="background: #325baf; color: white; font-size: 13px" class="new__card-btn" label="Proceed" @click="constructRepaymentList"></q-btn>

          <!-- <q-btn flat label="Cancel" color="primary"  /> -->
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- Loan replayment -->
    <LoanRepaymentList></LoanRepaymentList>
    <!-- On Loan Fullfilment -->
    <div v-if="loanAmount && loanPaid == loanAmount && !loanPending" class="loan__completion">
      <img src="../assets/loan-complete.webp" alt="" width="400" />
      <div class="text-h5 q-pb-lg text-center text-grey-9">Congratulations !!!</div>
      <!-- Apply again -->
      <div class="login-btn">
        <q-btn class="q-mt-xs" color="blue-10" label="Apply again" @click="applyAgain" style="width: 172px; border-radius: 8px" />
      </div>
    </div>
  </div>
</template>

<script>
import LoanPanel from 'components/LoanPanel.vue';
import LoanRepaymentList from './LoanRepaymentList.vue';

export default {
  components: {
    LoanPanel,
    LoanRepaymentList,
  },
  emits: ['appliedLoan'],
  data() {
    return {
      applyLoan: false,
      checkout: false,
      loanFrequency: 'Monthly',
      showLoanCheckoutModal: false,
      showValidationError: false,
    };
  },
  computed: {
    loanAmount: {
      get: function () {
        return this.$store.state.loanModule.loanAmount;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanAmount', newValue);
      },
    },
    loanPaid: {
      get: function () {
        return this.$store.state.loanModule.loanPaid;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanPaid', newValue);
      },
    },
    loanTerms: {
      get: function () {
        return this.$store.state.loanModule.loanTerms;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanTerms', newValue);
      },
    },
    loanRemain: {
      get: function () {
        return this.$store.state.loanModule.loanRemain;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanRemain', newValue);
      },
    },
    repaymentList: {
      get: function () {
        return this.$store.state.loanModule.repaymentList;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setRepaymentList', newValue);
      },
    },
    loanPending: {
      get: function () {
        return this.$store.state.loanModule.loanPending;
      },
      set: function (newValue) {
        this.$store.dispatch('loanModule/setLoanPending', newValue);
      },
    },
    isLoading: {
      get: function () {
        return this.$store.state.loanModule.applyLoanLoading;
      },
    },
  },

  methods: {
    async applyForLoan() {
      this.showValidationError = false;
      if (this.loanAmount == 0) {
        this.showValidationError = true;
        return;
      }
      this.checkout = true;
      this.loanRemain = this.loanAmount;
      // this.$emit('appliedLoan');
      await this.$store.dispatch('loanModule/approveUserLoan', 'mohitpatel2314@gmail.com');
      this.loanPending = true;
      this.showLoanCheckoutModal = true;
    },
    constructRepaymentList() {
      let loanEmiList = [];
      for (let i = 0; i < +this.loanTerms; i++) {
        let repaymentObj = {
          amount: this.loanAmount / +this.loanTerms,
          paid: false,
          date: this.formatDate(new Date(Date.UTC(2021, i + 1, 20, 3, 0, 0))),
        };
        loanEmiList.push(repaymentObj);
      }
      this.repaymentList = loanEmiList;
      // return this.repaymentList;
    },
    /**
     * Internationalize date & time as per country and format it
     * @param dateObj {Object}
     * @returns String or resource
     */
    formatDate(dateObj) {
      const locale = navigator.language;
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      const formattedDate = new Intl.DateTimeFormat(locale, options).format(dateObj);

      return formattedDate;
    },
    applyAgain() {
      this.applyLoan = !this.applyLoan;
      this.loanAmount = 0;
      this.loanPaid = 0;
      this.loanRemain = 0;
      this.loanTerms = 0;
      this.repaymentList = [];
      this.$store.commit('loanModule/clearTransactionList');
      this.checkout = !this.checkout;
    },
  },
};
</script>

<style lang="scss">
.apply__panel {
  border: 1px solid #fcfcfc;
  box-shadow: 0px 2px 12px #00000014;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 28px 0px 28px 28px;
  // max-height: 400px;
  min-width: 400px;
  margin-right: 18px;
  .apply__loan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .apply__btn {
    display: flex;
    justify-content: center;
  }
}
.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-detail {
  background-color: #ddffec;
  color: #01d167;
  border-radius: 6px;
  padding: 8px;
}

.success__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loan__summary {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: left;
  .label > div {
    line-height: 2;
  }
  .response > div {
    line-height: 2;
  }
}

.loan__completion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .apply__panel {
    margin-right: 0px !important;
  }
}
</style>
