<template>
  <router-view />
</template>
<script>
export default {
  name: "App",

  created() {
    // Auto login if user token is already stored
    this.$store.dispatch("tryLogin");
  },

  computed: {
    didAutoLogout() {
      return this.$store.getters.didAutoLogout;
    },
  },

  watch: {
    didAutoLogout(curValue, oldValue) {
      //checking if autologout is true & has changed
      if (curValue && curValue !== oldValue) {
        this.$router.replace("/"); // after auto logout redirect user to login page
      }
    },
  },
};
</script>
